.index {
  padding: 30px;
  min-height: 95%;
  display: flex;
  flex-direction: column;
}

.article {
  flex: 1;
}

.desc {
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
}

.title {
  display: block;
  text-align: center;
  font-size: 48rpx;
  color: rgb(48, 48, 48);
}

.banner {
  width: 100%;
  margin: 20px 0;
}

.other {
  margin-top: 20px;
  text-align: center;
  color: #c7c7c7;
  font-size: 28px;
}

.read-number {
  margin: 0 30px;
}

.loading {
  display: block;
  margin: 200px auto;
}
